*.cache
*.cache
DengueApp/DengueApp.Windows/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DengueApp/DengueApp.Windows/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DengueApp/DengueApp.Windows/obj/Debug/App.g.i.cs
DengueApp/DengueApp.Windows/obj/Debug/App.g.i.cs
*.cache
DengueApp/DengueApp.Windows/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache